.banner {
    background-image: url("/assets/img/Dragonball-fondo.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.btn {
    margin-right: 35%;
    margin-left: 40%;
    margin-top: 20px;
}